<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure"
    style="    background-image: url(https://raw.githubusercontent.com/djfoxer/djfoxer.github.io/master/images/djfoxer.png);
                background-repeat: no-repeat;
                background-position-y: 25px;
                background-size: 100px 100px;
                background-position-x: center;"
    >
      <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
